.eco-friendly-shop .head {
	height: 202px;
}

.eco-friendly-shop .head h2 {
	margin: 0px;
	font-weight: bold;
	color: #146c04;
	font-size: 28px;
}

.eco-friendly-shop .head .row img {
	margin-left: 20px;
}

.eco-friendly-shop .recycled-envelope-colors {
	border: 2px solid #F4F4F4;
	border-radius: 4px;
}

.eco-friendly-shop .recycled-envelope-colors .panel-header, .eco-friendly-shop .explore > .panel-header {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: rgba(94,184,82,1);
	background: -moz-linear-gradient(top, rgba(94,184,82,1) 0%, rgba(68,154,57,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,184,82,1)), color-stop(100%, rgba(68,154,57,1)));
	background: -webkit-linear-gradient(top, rgba(94,184,82,1) 0%, rgba(68,154,57,1) 100%);
	background: -o-linear-gradient(top, rgba(94,184,82,1) 0%, rgba(68,154,57,1) 100%);
	background: -ms-linear-gradient(top, rgba(94,184,82,1) 0%, rgba(68,154,57,1) 100%);
	background: linear-gradient(to bottom, rgba(94,184,82,1) 0%, rgba(68,154,57,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5eb852', endColorstr='#449a39', GradientType=0 );
}

.eco-friendly-shop .recycled-envelope-colors .panel-header h3, .eco-friendly-shop .explore > .panel-header h3 {
	margin: 0px;
	color: #ffffff;
	font-weight: bold;
	padding: 10px 0px;
	font-size: 16px;
}

.eco-friendly-shop .recycled-envelope-colors .panel-header .view-all {
	width: 150px;
	height: 25px;
	border-radius: 13px;
	border: 1px solid #d7d7d7;
	background: rgba(254,254,254,1);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e5e5e5', GradientType=0 );
	text-align: center;
	display: block;
	margin-top: 6px;
	color: #595959;
}

.eco-friendly-shop .recycled-envelope-colors .panel-header .view-all i {
	font-size: 10px;
}

.eco-friendly-shop .recycled-envelope-colors .panel-body {
	overflow-y: scroll;
	height: 335px;
	padding: 0px 15px;
}

.eco-friendly-shop .recycled-envelope-colors .item {
	text-align: center;
	padding: 13px;
	width: 115px;
	min-height: 170px;
}

.eco-friendly-shop .recycled-envelope-colors .item a {
	display: block;
}

.eco-friendly-shop .recycled-envelope-colors .item .row a > img {
	border: 1px solid #d7d7d7;
	padding: 1px;
}

.eco-friendly-shop .explore {
	border: 2px solid #F4F4F4;
	border-radius: 10px;
}

.eco-friendly-shop .explore > .panel-header {
	padding: 0px 15px;
}

.eco-friendly-shop .explore > .panel-body span {
	font-weight: bold;
}

.eco-friendly-shop .explore > .panel-body .row {
	padding: 10px 0px;
}

.eco-friendly-shop .explore > .panel-body > .panel-body {
	border-top: 1px solid #d7d7d7;
}

.eco-friendly-shop .explore > .panel-body > .panel-body > div:nth-child(even) {
	background-color: #EFEFEF;
}

.eco-friendly-shop .helping-to .panel-header {
	font-weight: bold;
}

.eco-friendly-shop .helping-to .hr {
	height: 10px;
	margin-bottom: 20px;
}

.eco-friendly-shop .helping-to span {
	display: block;
}

.eco-friendly-shop .helping-to h3 {
	color: #ff6600;
	font-size: 15px;
	margin-top: 0px;
	font-weight: bold;
}
