.container{
	margin: 10px;
}

.aboutUs{
	background-color: #f1f1f1;
}

.aboutHeader{
	background-color: #4f9bd5;
	display: inline-block;
	position: relative;
	min-height: 200px;
	width: 100%;
	color: #ffffff;
}

.aboutHeader img{
	float: right;
	position: absolute;
	right: 0;
	top: 0;
}

.aboutHeader h2 {
	padding: 2% 30px 5px;
	font-size: 34px;

}

.aboutHeader p{
	width: 35%;
	padding: 0 30px;
	font-size: 14px;
}

.text {
	width: auto;
	vertical-align: top;
	padding: 10px 30px !important;
}

.text h2{
	margin: 15px 0;
}

.text p{
	line-height: 20px;
	margin-bottom: 15px;
}

.contact{
	width: 445px;
	padding: 55px 0 0 !important;
	vertical-align: top;
}

.contactInfo {
	text-align: center;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}

.contactInfo h2{
	padding: 30px 15px 0;
	font-size: 25px;
}

.contactInfo li{
	list-style-type: none;
	font-size: 22px;
	font-weight: bold;
	padding: 20px;
	color: #4caf50;
}

.contactInfo a{
	color: #4caf50;
}

.contactInfo i{
	display: block;
	font-size: 40px;
	margin-bottom: 5px;
	
}

.floatLeft img{
	float: left;
	padding: 0 15px 0 0;
}

.floatLeft:after{
	content: "";
	display: block;
	clear: both;
}

.floatLeft h2, .floatLeft p{
	padding: 0 10px;
}

.fullWidth img{
	width: 100%;
}

@media only screen and (max-width: 1024px){
	.text {
		width: 100%;
		display: block;
	}
	.contact {
		width: 100%;
		display: block;
		text-align: center;
		padding: 15px 0 0 !important;	
	}
	.text img, .contact img{
		max-width: 300px;
	}
	.floatLeft img{
		float: none;
	}
	.floatLeft h2, .floatLeft p{
		padding: 0;
	}

}


