.setWidth100{
	width:100% !important;
}
.setDisplayBlock{
	width: 100%;
    display: block;
}
div[class*=certonaCart]{
	width:100%;
	max-width: 1360px;
	margin: 20px auto !important;
}
.cart .cartTopSection{
	border-bottom: 2px solid #1A345F;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
}
.cart h1 {
	
}
.cart .productRow {
	position: relative;
	border-top: 1px solid #dadada;
}
.cart .productRow:first-child {
	border: none;
}
/*=============================*/
/*=============================*/
.cart .foldersContainerContent,
.orderPrices.jqs-orderPrices {
    border: 1px solid #dadada;
    padding: 1em !important;
}
.cart .foldersContainerContent [data-index="0"] {
    border: none;
}
/*=============================*/
/*=============================*/
.foldersCartColumnsWrap {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}
.cart .foldersCartColumnsWrap .jqs-cartContent, 
.cart .foldersCartColumnsWrap .jqs-requiredCartContent {
    display: table-cell;
    vertical-align: top;
}
.cart .foldersCartColumnsWrap .jqs-cartContent {
    
}
.cart .foldersCartColumnsWrap .jqs-requiredCartContent {
	width: 355px;
}
.cart .foldersCartColumnsWrap [class="jqs-fship_warning"] {
	margin-bottom: 20px;
    display: table-caption;
}
/*=============================*/
/*=============================*/
#bnc_header_bar{
	border: 1px solid #DADADA;
	background-color: #1a345f;
	color: #fff;
	font-weight: 700;
}
/*=============================*/
/*=============================*/
.couponToggle{
	display: block;
	color: #fff;
}
.couponToggle:hover{
	color: #fff;
}
/*=============================*/
/*=============================*/
	.cart .productRow .productImageColumn,
	.cart .productRow .productInfoColumn,
	.cart .productRow .productSpecColumn,
	.cart .productRow .productCustomizationColumn,
	.cart .productRow .productQuantityAndPriceColumn {
		vertical-align: top;
		padding: 1.4em 0;
	}
	.cart .productRow .productImageColumn {
		/* padding: 10px; */
	}
	.cart .productRow .productCustomizationColumn,
	.cart .productRow .productQuantityAndPriceColumn {
		/* padding: 0; */
	}
	.cart .productRow .productSpecColumn {
		/* padding: 10px 10px 10px 0px; */
	}
	.cart .productRow .productImageColumn {
		width: 130px;
	}
	.cart .productRow .productInfoColumn {
		width: auto;
		display: table;
	}
	.cart .productRow .productInfoColumn .productSpecColumn {
		/* width: 200px; */
	}
	.cart .productRow .productInfoColumn .productCustomizationColumn {
		/* width: 200px; */
	}
	.cart .productRow .productInfoColumn .productQuantityAndPriceColumn {
		/* width: 230px; */
	}
	.cart .productRow i.removeProduct {
		position: absolute;
		top: 5px;
		right: 0px;
		font-size: 20px;
		cursor: pointer;
	}
		.cart .productRow .columnHeader,
		.cart .cartActions .columnHeader {
			font-weight: bold;
			font-size: 16px;
		}
.cart .cartActions {
    /* border: solid 1px #dadada; */
    margin: 2em auto;
    padding: 0 0 0 1em;
    /* display: table; */
    width: 100%;
    table-layout: fixed;
}
	.cart .cartActions .columnResult {
		text-align: center;
		margin-top: 10px;
	}
	.cart .cartActions > * {
		display: block;
        width: 100%;
        vertical-align: top;
        padding: 15px;
		margin: 0 0 20px 0;
	}
	.cart .cartActions .shippingMethodContainer {
        /* border-right: 2px dotted #dadada; */
	}
		.cart .cartActions .columnHeader {
			text-align: center;
		}
		.cart .productRow .columnHeader,
		.cart .cartActions .columnHeader {
			font-weight: bold;
			font-size: 16px;
		}
	.cart .cartActions .orderPrices {
		/* text-align: right; */
	}
    .cart .cartActions .orderPrices .columnOrderSummary .FOL_orderSummaryContent:first-child > div:last-child,
    .cart .cartActions .orderPrices .columnOrderSummary .FOL_orderSummaryContent:last-child > div:last-child {
        font-weight: 700;
        font-size: 18px;
        /* margin-top: 5px;
        padding-top: 5px; */
        border-top: 1px solid #dadada;
    }
/*=============================*/
/*=============================*/
.FOL_orderSummaryContent {
    vertical-align: top;
    display: inline-block;
    width: 48%;
}
.FOL_orderSummaryContent .FOL_orderPriceText,
.FOL_orderSummaryContent .FOL_orderPriceNumbers {
    padding: 6px 0;
}
/*=============================*/
/*=============================*/
.creditCardRelax {
	width: 100%;
	display: table;
	table-layout: fixed;
}
.creditCardMessageContent{
	text-align: center;
	margin: 12px 0;
}
.creditCardRelax i {
	display: inline-block;
	vertical-align: middle;
	font-size: 30px;
	color: #ffaf03;
}
.creditCardRelax p {
	/* width: 61%; */
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	padding: 0 5px;
}
.creditCardRelax a {
	display: block;
	cursor: pointer;
    text-align: center;
    padding: 0.8em;
    font-size: 22px;
	font-weight: 700;
}
.preOrderPromiseBlock {
	background-color: #ffffff;
	position: relative;
	margin-top: 15px;
}
.preOrderPromiseBlock i {
	position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.preOrderServiceDetail {
	width: 100%;
	padding: 10px;
}
.preOrderPromiseBlock img {
	padding: 10px 10px 10px 20px;
}
.preOrderBlocks h3 {
	text-decoration: underline;
	font-size: 22px;
}
.preOrderServiceDetail h3 {
	font-weight: normal;
	font-size: 22px;
}
.preOrderBlocks {
	width: 32%;
	text-align: center;
	border: solid 1px #7ab9e1;
	padding: 10px;
	height: 88px;
}
.preOrderBlocks p {
	padding-top: 5px;
}
.preOrderServiceDetail span, .preOrderBlocks span {
	font-weight: bold;
}
@media only screen and (max-width: 1325px) {
	.preOrderBlocks {
		height: 100px;
	}
}
@media only screen and (max-width: 1024px) {
	.preOrderBlocks {
		height: 125px;
	}
	.cart .foldersCartColumnsWrap .jqs-requiredCartContent {
		width: 285px;
	}
}
@media only screen and (max-width: 768px) {
	.cart .foldersCartColumnsWrap .jqs-cartContent, 
	.cart .foldersCartColumnsWrap .jqs-requiredCartContent {
		display: block;
		width: 100%;
		padding: 0;
	}
}
@media only screen and (max-width: 767px) {
    #bnc_header_bar{display: none;}
    
	.cart .productRow .productImageColumn {
		padding: 5px 5px 5px 0px;
	}
	.cart .productRow .productSpecColumn,
	.cart .productRow .productCustomizationColumn,
	.cart .productRow .productQuantityAndPriceColumn {
		display: block;
		padding-left: 0px;
	}
		.cart .productRow .productInfoColumn .productSpecColumn {
			width: 150px;
		}
		.cart .productRow .columnHeader,
		.cart .cartActions .columnHeader {
			font-size: 14px;
		}
	.cart .cartActions .columnResult,
    .cart .cartActions .columnShipping,
    .cart .cartActions .columnOrderSummary {
		margin-top: 0;
        padding: 20px;
        border: solid 1px #dadada;
	}
    .cart .cartActions .columnShipping,
    .cart .cartActions .columnOrderSummary {
        padding: 20px !important;
    }
	.cart .cartActions .shippingMethodContainer {
		width: 100%;
	}
	.cart .cartActions .orderPrices {
		
	}
	.preOrderBlocks {
		width: 100%;
		height: 80px;
		margin-bottom: 10px;
	}
	.preOrderBlocks:last-child {
		margin-bottom: 5px;
	}
	.creditCardRelax {
		float: none !important;
		width: 100%;
		margin-top: 5px;
	}
    /*============*/
    .cart .cartActions > * {
        display: block;
        border: none !important;
        width: 100%;
    }
    .cart .cartActions{
        border: none !important;
    }
}
@media only screen and (max-width: 450px) {
	.preOrderServiceDetail h3 {
		font-size: 16px;
	}
}
@media only screen and (max-width: 375px) {
	.preOrderBlocks {
		height: 90px;
	}
	.creditCardRelax a {
	    width: 100%;
	}
	.creditCardRelax p {
	    width: 85%;
	}
}
/*==============================*/
.cart .cartActions .columnHeader{
    background-color: #063b63;
    color: #fff !important;
    padding: 5px;
}