/* FOLDERS - Back To School Re-design Style */
@font-face {
	font-family: 'Gotham-Black';
    src: url('../../../fonts/Gotham-Black.woff');
    font-weight:normal;
}
@font-face {
	font-family: 'SegoeScript';
    src: url('../../../fonts/Segoe_Script.ttf');
    font-weight:normal;
}
@font-face {
	font-family: 'OpenSansRegular';
    src: url('../../../fonts/OpenSans-Regular.ttf');
    font-weight:normal;
}
@font-face {
	font-family: 'OpenSansBold';
    src: url('../../../fonts/OpenSans-Bold.ttf');
    font-weight:700;
}
@font-face {
	font-family: 'OpenSansExtraBold';
    src: url('../../../fonts/OpenSans-ExtraBold.ttf');
    font-weight:900;
}
@font-face {
	font-family: 'OpenSansLight';
    src: url('../../../fonts/OpenSans-Light.ttf');
    font-weight:normal;
}
@font-face {
	font-family: 'OpenSansSemiBold';
    src: url('../../../fonts/OpenSans-Semibold.ttf');
    font-weight:600;
}
@font-face {
	font-family: 'OpenSansItalic';
    src: url('../../fonts/OpenSans-Italic.ttf');
    font-weight:normal;
}
/*-------------------------------------------*/
/*-------------------------------------------*/
.glow {
	display: inline-block;
	transition-duration: 0.3s;
	transition-property: box-shadow;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border-radius: 8px;
}
.glow:hover {
	box-shadow: 0 0 8px rgb(26, 52, 95, 0.6);
	border-radius: 8px;
}
/*-------------------------------------------*/
/*-------------------------------------------*/
.flex-row {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
.flex-row > * {
    display: inline-flex;
}
.flex-row.flex-center {
  justify-content: center;
  -webkit-justify-content: center;
}
.flex-row.flex-left {
	justify-content: left;
	-webkit-justify-content: left;
  }
	  .flex-row.flexCount6 > *,
	  .flex-row.flexCount5 > *,
	  .flex-row.flexCount4 > *,
	  .flex-row.flexCount3 > *,
	  .flex-row.flexCount2 > * {
		  width: 100%;
	  }
	  .flex-row.flexCount6 > * {
		  max-width: 16.66666%;
	  }
	  .flex-row.flexCount5 > * {
		  max-width: 20%;
	  }
	  .flex-row.flexCount4 > * {
		  max-width: 25%;
	  }
	  .flex-row.flexCount3 > * {
		  max-width: 33.33333%;
	  }
	  .flex-row.flexCount2 > * {
		  max-width: 50%;
	  }

/*------ MAIN WRAPPER ------*/
.bnc_bts_shop * {
    margin:0;
    padding:0;
}
.bnc_bts_shop {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 10px;
}
.bnc_bts_shop:after {
	display: table;
	content: " ";
	clear: both;
}
/*----------------------------------------*/
/*-------------- TOP BANNER --------------*/
/*----------------------------------------*/
.bnc_bts_top_banner {

}
.bts_banner_wrap {
    position: relative;
}
.bts_banner_content {
    text-align: center;
    color: #fff;

    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bts_banner_content div {
    font-family: Lato, sans-serif;
    display: block;
}
.bts_banner_content .bts-head-line {
}
.bts_banner_content .bts-head-line h1 {
    font-family: 'Gotham-Black';
    font-size: 6em;
}
.bts_banner_content p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    width: 67%;
    margin: 0 auto;
}
/*----------------------------------------*/
/*----- NAVIGATION BELOW TOP BANNER ------*/
/*----------------------------------------*/
input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
label[for="bts-button"] {
    display: none;
    cursor: pointer;
    user-select: none;
}
/* bnc_bts_nav1 */
nav[role="bnc_bts_nav1"] {
    position: relative;
    width: 100%;
    margin: -20px 0 35px 0;
}
nav[role="bnc_bts_nav1"] a, 
nav[role="bnc_bts_nav1"] label {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
}
nav[role="bnc_bts_nav1"] ul {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    display: table;
    table-layout: fixed;
}
nav[role="bnc_bts_nav1"] ul > li {
    display: table-cell;
    vertical-align: middle;
    padding: 0.55em 0.55em;
    background-color: #eeeeee;
    text-align: center;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow, color;
    box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, .35);
    cursor: pointer;
}
nav[role="bnc_bts_nav1"] ul > li:hover {
    background-color: #1c3122;
    color: #fff;
    box-shadow: 0 0.05em 0.25em 0 #b89e99, inset 0 0 0 2em rgba(0, 0, 0, .3);
}
nav[role="bnc_bts_nav1"] ul > li:hover > a {
    color: #fff;
}
nav[role="bnc_bts_nav1"] ul > li:first-child {
    border-radius: 0 0 0 10px;
}
nav[role="bnc_bts_nav1"] ul > li:last-child {
    border-radius: 0 0 10px 0;
}
/* small screens */
@media screen and (max-width: 47.9375em) /* 767px*/ {
    nav[role="bnc_bts_nav1"] ul {
        display: none;
        height: 100%;
   }
    nav[role="bnc_bts_nav1"] label {
        position: relative;
        display: block;
        width: 100%;
        min-height: 2.25em;
        padding: 0.45em;
        font-size: 1.1em;
        margin: 0;
        border: 0.15em solid rgba(60, 60, 60, .2);
        background-image: url('/html/img/landing/taxEnvelopesShop/bg_dark_grey.png');
   }
    nav[role="bnc_bts_nav1"] label:after {
        position: absolute;
        right: 0.25em;
        top: -7px;
        content: "\2261";
        font-size: 1.8em;
        color: #fff;
   }
    nav[role="bnc_bts_nav1"] input[type=checkbox]:checked ~ label:after {
        color: #fff;
   }
    nav[role="bnc_bts_nav1"] input[type=checkbox]:checked ~ ul {
        display: block;
   }
    nav[role="bnc_bts_nav1"] input[type=checkbox]:checked ~ ul > li {
        width: 100%;
        opacity: 0.8;
        display: block;
        border-radius: 0;
   }
    nav[role="bnc_bts_nav1"] input[type=checkbox]:checked ~ ul > li:after {
        position: absolute;
        right: 0.25em;
        content: "\203A";
        font: bold 1.4em sans-serif;
        color: #fff;
   }
}
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
.bnc_section_block{
    /* background-color: #404f60; */
    /* padding:14px; */
    color:#fff;
}
.bnc_section_content{
    background-color: #132f49;
    padding: 15px 45px 15px 15px;
    margin-bottom: 40px;
}
/*----------------*/
.bnc_section_block div .bnc_section_header,
.bnc_section_block div .bnc_section_header h1,
.bnc_section_block div .bnc_section_header h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}
.bnc_section_block div .bnc_section_desc{
	font-size: 14px;
}
/*--------------*/
.bnc_bts_product_wrap{
    /* display: block; */
    position: relative;
    width: 100%;
}
.bnc_bts_product_wrap .bnc_bts_prod{
    /* border: 1px solid #dddddd; */
    margin: 0 24px 24px 0;
    /* display: inline-block; */
    vertical-align: top;
    width: 295px;
}
.bts_widthOverWrite{
    width: 100% !important;
    max-width: 608px;
}
.bnc_bts_product_wrap .bnc_bts_prod:last-child {
    margin-right: 0;
}
.bnc_bts_product_wrap .bnc_bts_prod a{
    display:block;
}
.bnc_bts_product_wrap .bnc_bts_prod .bnc_bts_prod_content{

}
.bnc_bts_product_wrap .bnc_bts_prod .bnc_bts_prod_content .bnc_bts_prod_name{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    /* background-color: #fff; */
    font-family: Lato, sans-serif;
    padding: 15px 10px;
    text-align: center;
}
.bnc_bts_product_wrap .bnc_bts_prod .bnc_bts_prod_content .bnc_bts_prod_name h4, 
.bnc_bts_product_wrap .bnc_bts_prod .bnc_bts_prod_content .bnc_bts_prod_name h5, 
.bnc_bts_product_wrap .bnc_bts_prod .bnc_bts_prod_content .bnc_bts_prod_name i{
    display: inline-block;
}
.bnc_bts_product_wrap .bnc_bts_prod .bnc_bts_prod_content .bnc_bts_prod_name h4{
    color: #000;
    font-size: 14px;
    font-weight: 700;
}
.bnc_bts_product_wrap .bnc_bts_prod .bnc_bts_prod_content .bnc_bts_prod_name i{
    color: #000;
    font-size: 1.23em;
}
.bnc_bts_product_wrap .bnc_bts_prod .bnc_bts_prod_content .bnc_bts_prod_img {
    background-color:#cdd5d8;
    text-align: center;
    border-radius: 8px;
}
/*----------------------------------------*/
/*----------------------------------------*/
.bnc_bts_teachers_banner_wrap, 
.bnc_bts_teachers_banner_content {
    display: table !important;
    table-layout: fixed;
    position: relative;
}
.bnc_bts_teachers_banner_wrap {
    margin-bottom: 30px;
}
.bnc_bts_left_column,
.bnc_bts_right_column {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.bnc_bts_left_column * {
    text-align: center;
    color: #000;
    font-family: Lato, sans-serif;
}
.bnc_bts_left_column .quote-text{
    font-family: 'SegoeScript';
    font-weight: 700;
    font-size: 2em;
    color: #3f5c77;
    margin: 1em 0;
}
.bnc_bts_left_column h3{
    font-family: Lato, sans-serif;
    font-size: 3em;
}
.bnc_bts_left_column p{
    width: 85%;
    margin: 0 auto;
    font-size: 16px;
}
.bnc_bts_right_column {
    width: 542px;
}
.bnc_bts_right_column img {
    width: 100%;
}
/*----------------------------------------*/
/*----------------------------------------*/
@media only screen and (max-width: 1139px){
    .bnc_bts_teachers_banner_wrap{
        display: none !important;
    }
    .bts_banner_content p {
        display: none;
    }
    .bts_banner_content{
        width: 80%;
    }
    .bts_banner_content .bts-top-line {
        font-size: 2em !important;
    }
    .bts_banner_content .bts-middle-line h1 {
        font-size: 2em !important;
    }
    .bts_banner_content .bts-middle-line h1 span {
        font-size: 40px !important;
    }
}
@media only screen and (min-width: 1360px){
    .bts_banner_content .bts-head-line h1{
        font-size: 6em !important;
    }
}
@media only screen and (min-width: 769px){
    .bts_banner_content .bts-head-line h1{
        font-size: 3em;
    }
}
@media only screen and (max-width: 768px){
    .bts_banner_content{
        width: 85%;
    }
    .bts_banner_content .bts-head-line h1{
        font-size: 2em;
    }
    .bts_banner_content p {
        display: none;
    }
}
@media only screen and (max-width: 425px){
    .bnc_section_block div .bnc_section_desc,
    .bnc_bts_product_wrap .bnc_bts_prod .bnc_bts_prod_content .bnc_bts_prod_name i {
        display: none;
    }
    .bnc_bts_product_wrap .bnc_bts_prod{
        width: 180px;
        margin: 10px;
    }
    .bnc_bts_product_wrap .bnc_bts_prod .bnc_bts_prod_content .bnc_bts_prod_name h4{
        font-size: 18px;
    }
}