/* Folders.com */
.account .accountHeader > div:first-child > * {
  float: left;
  font-size: 24px;
}
.account .accountHeader > div:last-child > * {
  float: right;
}
.account .accountContent > * {
  vertical-align: top;
}
.account .accountContent .accountInfoHeader {
  border-right: inherit;
  width: 190px;
}
.account .accountContent .accountInfoHeader h2 {
  font-size: 30px;
}
.account .accountContent .accountInfoHeader i {
  font-size: 65px;
  margin: 30px 0px;
}
.account .accountContent .accountInfoBody a {
  font-size: 20px;
  line-height: 25px;
}
.account .accountContent .accountContentRight {
  width: 280px;
}
.account .accountContent .accountContentRight .foldersContainerContent.contactUs {
  background-color: #dadada;
}
.account .accountContent .accountContentRight .contactUs h2 {
  font-size: 26px;
}
.account .accountContent .accountContentRight .contactUs a {
  font-size: 18px;
  width: 160px;
  margin: auto;
  display: block;
}
.account .accountContent .accountContentRight .contactUs a i.fa-phone {
  font-size: 22px;
}
@media only screen and (max-width: 767px) {
  .account .accountHeader > * {
    display: block;
  }
  .account .accountContent .accountInfoHeader {
    border-right: inherit;
    width: 95px;
  }
  .account .accountContent .accountInfoHeader h2 {
    font-size: 20px;
  }
  .account .accountContent .accountInfoHeader i {
    font-size: 32px;
    margin: 15px 0px;
  }
  .account .accountContent .accountInfoBody a {
    font-size: 12px;
    line-height: 18px;
  }
  .account .accountHeader > div:first-child > *,
  .account .accountHeader > div:last-child > * {
    float: none;
  }
}
