.spinner-shade {
	position: absolute;
	z-index: 99998;
	width: 100% !important;
	height: 100% !important;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .4;
}

.spinner-text {
	z-index: 99999;
	position: absolute;
}

.spinner {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
	-moz-box-align: center;
    -moz-box-pack: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: transparent;
	z-index: 99999;
	position: absolute;
	top: 0px;
	left: 0px;
}

.spinner:after {
	-webkit-animation: 0.6s linear 0s normal none infinite rotate;
	-moz-animation: 0.6s linear 0s normal none infinite rotate;
	-ms-animation: 0.6s linear 0s normal none infinite rotate;
	-o-animation: 0.6s linear 0s normal none infinite rotate;
	animation: 0.6s linear 0s normal none infinite rotate;
	z-index: 99999;
    border-color: #ffffff #aeaeae #aeaeae #ffffff;
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    opacity: 0.5;
    position: relative;
}

body > .spinner-shade,
body > .spinner-text,
body > .spinner {
	position: fixed !important;
}

@-webkit-keyframes rotate{
	from{
		-webkit-transform:rotate(0deg)
	}
	to{
		-webkit-transform:rotate(360deg)
	}
}

@-moz-keyframes rotate{
	from{
		-moz-transform:rotate(0deg)
	}
	to{
		-moz-transform:rotate(360deg)
	}
}

@-o-keyframes rotate{
	from{
		-o-transform:rotate(0deg)
	}
	to{
		-o-transform:rotate(360deg)
	}
}

@keyframes rotate{
	from{
		transform:rotate(0deg)
	}
	to{
		transform:rotate(360deg)
	}
}
